 __pycache__/
 *.pyc
 *.ipynb
**/__pycache__/

.vscode/
.ipynb_checkpoints/
src/cnnClassifier.egg-info/

artifacts/*
research/*
logs/*

TemplateCreation.log

prepare_base_model/*
src/logs/running_logs.log
